<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Edit Product</h1>
<form th:action="@{/products/edit}" method="post" th:object="${product}">
    <!--<form th:action="@{/products/edit}" method="post">-->
    <input type="hidden" th:name="id" th:value="${product.id}"/>
    <label>Name:</label>
    <input type="text" th:name="name" th:value="${product.name}" required/>
    <label>Description:</label>
    <input type="text" th:name="description" th:value="${product.description}"/>
    <label>Price:</label>
    <input type="number" step="0.01" th:name="price" th:value="${product.price}" required/>
    <!--  Product Details fields-->
    <input type="hidden" th:name="details.id" th:value="${product.details.id}"/>
    <label for="manufacturer">Manufacturer:</label>
    <input type="text" id="manufacturer" name="details.manufacturer" th:value="${product.details.manufacturer}"/>
    <label for="warranty">Warranty:</label>
    <input type="text" id="warranty" name="details.warranty" th:value="${product.details.warranty}"/>
    <!-- Category fields -->
    <label for="categorySelect">Existing Categories:</label>
    <select id="categorySelect" name="category.id">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <label for="newCategoryName">New Category Name:</label>
    <input type="text" id="newCategoryName" name="category.name" disabled/>
    <button type="button" id="toggle-button">Toggle category</button>

    <button type="submit">Save Changes</button>
</form>
<script>
    const existingCategory = document.querySelector("#categorySelect");
    const newCategory = document.querySelector("#newCategoryName");
    let current = 'existing'

    function toggleCategory() {
        if (current === 'existing') {
            existingCategory.disabled = true
            newCategory.disabled = false
            current = 'new'
        } else {
            existingCategory.disabled = false
            newCategory.disabled = true
            current = 'existing'
        }
    }

    document.querySelector('#toggle-button').addEventListener('click', toggleCategory);
</script>
</body>
</html>
